# this is an example config.yml file
# These Values WILL NOT WORK.  Place your own here, and rename this file "config.yml"

# Twitter Keys
consumer_key: 'TWITTERCONSUMERKEY'
consumer_secret: 'TWITTERCONSUMERSECRET'
access_key: 'TWITTERACCESSKEY'
access_secret: 'TWITTERACCESSSECRET'

# Google Calendar Info
gcal_email: 'GMAIL_ADDRESS'
gcal_password: 'GMAIL_PASSWORD'

# This id can be found when you go to your calendar settings
# Please replace the @ with %40
gcal_id: 'GCAL_ID'