!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => 'Refresh', :content => 180}
    %meta{'http-equiv' => 'Content-Type', :content => 'content="text/html; charset=utf-8;'}
    %link{:rel => "stylesheet", :type => "text/css", :href => "styles.css"}
    %title="RA Finder"
  %body
    .main
      .image
        %img{:height => "425", :width => "425", :src => @url, :alt => "Map"}
      .image.overlay
        %img{:height => "425", :width => "425", :src => "images/gmapsframe.png", :alt => "Map"}
      .events
        Upcoming Events
        %br
        - @events.each do |event|
          %strong= event.title
          =" - "
          = @tz.utc_to_local(event.start_time).strftime('%A %B %d, %Y')
          %br
      .location
        = @nick_line
        