%meta{'http-equiv' => 'Refresh', :content => 180} <!-- Refresh every 3 minutes -->
%table{:border => "0"}
  %tr
    %td 
      %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => @url, :width => "425"}
      %h1= @nick_line
    %td
      %script{:src => "http://feeds.feedburner.com/FloorEvents?format=sigpro", :type => "text/javascript"}
      %noscript
        %p
          Subscribe to RSS headline updates from:
          %a{:href => "http://feeds.feedburner.com/FloorEvents"}
          = succeed "Powered" do
            %br/
          by FeedBurner
