$red: #ff0000
$green: #39b54a
$black: #000000
$background: #303030
$blue: #0072bc
$orange: #a0410d
$margin: 16px
$gcal_width: 425px
$total_width: 1024px
$event_width: $total_width - $gcal_width
$darkgreen: #005826
$lightgreen: #a3d39c
$lightblue: #9cbdd3

body
  margin: 0px
  background:
    color: $background

.image
  float: left

.overlay
  position: absolute

.events
  float: right
  width: $event_width
  color: $blue
  text:
    align: center
  font:
    family: tahoma
  h2
    color: $green
    margin: 0px
    text:
      shadow: $black 1px 1px 0px
  h3
    color: $orange
    margin:
      top: 10px
      bottom: 0px
      left: 0px
      right: 0px
    text:
      shadow: $black 1px 1px 0px

.event
  text:
    align: left
  margin:
    bottom: 3px
    top: 5px
.eventtitle
  color: $lightblue
  font:
    weight: bold

.today
  color: #b7b7b7

.later
  color: #898989
  
.isat
  color: $lightgreen

.main
  width: $total_width
  margin: 0px
  background:
    color: $background

.location
  clear: both
  color: $blue
  text:
    align: center
    shadow: $black 1px 1px 0px
  h1
    font:
      size: 50px
      family: tahoma
      weight: bold
    margin: 0px

a 
