$blue: #3bbfce
$red: #ff0000
$green: #004400
$margin: 16px

body
  margin: 0px

.image
  float: left
.events
  float: right
  width: 375px

.main
  width: 800px
  margin: 10px
  background:
    color: $blue

.location
  clear: both
  text:
    align: center