%meta{'http-equiv' => 'Refresh', :content => 180} <!-- Refresh every 3 minutes -->
%table{:border => "0", :cellpadding => "10"}
  %tr
    %td
      %br
      %h1= @nick_line
    %td{:valign => "top"}
      %iframe{:frameborder => "0", :height => "600", :scrolling => "no", :src => @event_url, :style => " border-width:0 ", :width => "800"}

      
