!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => 'Refresh', :content => 180}
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %link{:rel => "stylesheet", :type => "text/css", :href => "styles.css"}
    %title="RA Finder"
  %body
    .main
      .location
        =@nick_line
      .events
        %script{:language => "JavaScript", :src => @event_url, :type => "text/javascript"}